# binary files
fasto/bin
!fasto/bin/fasto
!fasto/bin/runtests.sh

# Emacs files
\#*#
.#*

# vim files
*.swp

# generated test files
fasto/tests/*.asm

# report files
report.aux
report.log
report.out
report.pdf
report.dvi
